/*== FONTS ==*/
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Oswald:wght@200..700&family=Rajdhani:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: content-box
}

body{
    background-color: #111111;
    font-family: "Rajdhani", sans-serif;
    color: white;
}


/*== HEADER ==*/

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    overflow: hidden;
}

.header__navbarLogo{
    height: 70px;
}
.header__navBar{
    display: flex;
    background: transparent;
    justify-content: space-between;
    align-items: center;
    padding: .625rem .9375rem;
}

.header__menuNav{
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 1.875rem;
    
}

.header__menuNav li a{
    color: white;

}

.header__menuNav a{
    color: white;
    font-size: 1.375rem;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;
    transition: transform 0.2s ease, color 0.2s ease;
}

.header__menuNav a:hover{
    transform: scale(1.1);
    color: red;
}

/*== BANNER ==*/

.banner{
    position: relative;
    width: 100%;
    height: 120vh;
    overflow: hidden;
}

.banner__video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter:brightness(40%);
}

.banner__texto{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 2rem;

}

.banner__texto h1{
    font-family: "Goldman", sans-serif;
    font-weight: bold;
    color: red;
    text-shadow: 0 0 40px red;
}

.banner__texto h2{
    font-family: "Goldman", sans-serif;
    font-weight: bold;
    color: white;
}



/*== NOTICIAS ==*/

.noticias{
    margin: 1.25rem;
}

.noticias article{
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    transition: 0.2s ease;
}

.noticias article:hover{
    transform: scale(1.01);
    cursor: pointer;
}

.noticias__noticiasimg{
    width: 100%;
    height: 13rem;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}

.noticias__imagenPrincipal{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}

.noticias h3{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    font-size: 1.2rem;
    color: #fff;
    background: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0));
    margin: 0;
    border-radius: 0 0 8px 8px;
}


/*== GRID NOTICIAS ==*/
.noticias__grid-container{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(2, 200px);
    grid-template-areas: 
    "principal       noticia1    noticia2"
    "principal       noticia3    noticia4"

    ;
    gap: .9375rem;
}

.grid_item1{
    grid-area: principal;
}

.grid_item2{
    grid-area: noticia1;
}

.grid_item3{
    grid-area: noticia2;
}

.grid_item4{
    grid-area: noticia3;
}

.grid_item5{
    grid-area: noticia4;
}



/*== FOOTER ==*/
footer{
    background-color: #090808;
}

.logoFooter{
    height: 70px;
    margin: 15px;
}

.redesSociales img{
    height: 30px;
    margin: 5px;
}
.redesSociales{
    text-align: center;
}

footer p{
    font-size: 0.7rem;
    text-align: center;
}

/**== PÁGINA PILOTOS ==*/

/**== PILOTOS ==*/
.pilotos{
    margin: 15px
}

.textoPilotos h1{
    font-size: 1.5rem;
}

.tarjeta{
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    color: black;
    margin: 30px;
}


.contenedorTarjetas {
    padding: 20px;
    gap: 20px;
}


/**== PÁGINA EQUIPOS ==*/
.equipos{
    margin: 15px
}

.textoEquipos h1{
    font-size: 1.5rem;
}

/**== PÁGINA CLASIFICACIÓN ==*/
.clasificacion{
    width: 90%;
    margin: 20px auto;

}
th, td{
    padding: 7px 15px;
    text-align: left;

}

th{
    color: #888;
    font-size: .9rem;
    border-bottom: 1px solid #888;
    padding: 10px;
}

td{
    font-weight: bold;
    font-size: 1rem;
    border-bottom: 0.5px solid #88888880;
    padding: 15px 15px;
}

.clasIcons{
    height: 30px;
    border-radius: 90%;
    margin-right: 10px;
    vertical-align: middle;
}

/*== PÁGINA CALENDARIO ==*/
.bgcontenedor{
    background-color: #090808;
}

.textoCalendario{
    padding: 15px;
}

.tarjetaCalendario{
    width: 300px;
    border-radius: 15px;
}

.tarjetaCalendario img{
    width: 100%;
    height: auto;
    padding-bottom: 10px;
}

.tarjetaCalendario h2{
    font-size: 1rem;
    text-align: left;
    margin-bottom: 8px;
}

.tarjetasGps{
    margin: 30px 15px;
}

/*== PÁGINA FORMULARIO ==*/
.textoFormulario{
    padding: 15px;
}

.formulario{
    text-align: center;
}

.formulario input{
    padding: 3px;
    border-radius: 10px;
}

.formulario select{
    padding: 2px;
    border-radius: 10px;
}

.botonSubmit{
    padding: 5px;
    margin: 20px 10px;
}

.newsletterBg{
    background-image: url(https://soymotor.com/sites/default/files/imagenes/article/alex-alonso1.jpg);
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}