$color-principal: red;

$calendario-actual: #a81212;

// COLORES DE EQUIPOS
$color-mclaren: linear-gradient(90deg, #d35400 0%, #e67e22 100%);

$color-ferrari: linear-gradient(90deg, #710006 0%, #ED1131 100%);

$color-mercedes: linear-gradient(90deg, #007560 0%, #00D7B6 100%);

$color-redbull: linear-gradient(90deg, #003282 0%, #4781D7 100%);

$color-williams: linear-gradient(90deg, #000681 0%, #1868DB 100%);

$color-astonmartin: linear-gradient(90deg, #00482C 0%, #229971 100%);

$color-kick: linear-gradient(90deg, #006300 0%, #01C00E 100%);

$color-vcarb: linear-gradient(90deg, #2345AB 0%, #6C98FF 100%);

$color-haas: linear-gradient(90deg, #4D5052 0%, #9C9FA2 100%);

$color-alpine: linear-gradient(90deg, #005081 0%, #00A1E8 100%);
