// UTILITES
@import './abstracts/variables';
@import './abstracts/mixins';

// BASE
@import './base/reset';
@import './base/fonts';

// LAYOUT
@import './layout/body.scss';
@import './layout/index/section-noticias';
@import './layout/index/grid-noticias';
@import './layout/footer';
@import './layout/pilotos-page/section-pilotos';
@import './layout/equipos-page/section-equipos';
@import './layout/calendario-page/calendario';
@import './layout/newsletter-page/newsletter';

// COMPONENTS
@import './components/header-general';
@import './components/index/header-index';
@import './components/index/banner';
@import './components/tarjetas';
@import './components/pilotos-page/tarjetas-pilotos';
@import './components/pilotos-page/estilos-tarjetas';
@import './components/equipos-page/tarjetas-equipos';
@import './components/clasificacion-page/tabla';
@import './components/calendario-page/tarjetasinicio-calendario';
@import './components/calendario-page/tarjetas-calendario';
@import './components/calendario-page/tarjetas-calendario-actual';
@import './components/newsletter-page/formulario';
@import './components/animaciones';

// MEDIA-QUERY
@import './layout/media/media-query';