.equipos{
    margin: .9375rem;

    .equipos__textoInicio h1{
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 0;
    }
        p{
            font-size: 1.2rem;
        }
}

.textoEquipos h1{
    font-size: 1.5rem;
}