@mixin flex($wrap, $direction, $justify, $align, $gap){
    display: flex;
    flex-wrap: $wrap;
    flex-direction: $direction;
    justify-content: $justifiy;
    align-items: $align;
    gap: $gap;
}

@mixin grid($col, $row, $justify, $align, $gap){
    display: grid;
    grid-template-columns: $col;
    grid-template-rows: $row;
    justify-content: $justify;
    align-content: $align;
    gap: $gap;
}
