.calendario__tarjetas{
    position: relative;
    width: 15rem;
    height: 17rem;
    border-radius: .9375rem;
    overflow: hidden;
    margin-bottom: 1.875rem;
    cursor: pointer;
}

.calendario__tarjetas--grande{
    width: 45rem;
    height: 17rem;
}

.calendario__contenedor--tarjetas h2{
    margin: .625rem 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.calendario__imagen{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
    transition: 0.2s ease;

    &:hover{
        transform: scale(1.05);
        filter: brightness(90%);
    }
}

.calendario__tarjetas--info {
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    padding: .9375rem;
    font-family: $font-tarjetas;
        h3{
            margin: 0;
            font-size: 1.2rem;
            font-weight: bold;
        }
            p{
                margin: .3125rem 0 0;
                font-size: 0.8rem;
            }
}

