.header__navbarLogo{
    height: 2.6rem;
}

.navbar{
    background-color: #090809;
}

.nav-link{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 .4375rem;
    font-family: $font-principal;
    font-size: 1.375rem;
    font-weight: 500;
    transition: color 0.1s ease;

    &:hover{
        color: $color-principal;
    }
}

.navbar-nav {
    margin: auto;
}