.header{
    .header__navBar{
        @include flex(none, none, space-between, center, none);
        background-color: #090809;
        padding: .7rem 1.3rem;
    }
        .header__navbarLogo{
            height: 2.6rem;
        }
            .header__menuNav{
                @include flex(none, none, center, none, none);
                flex: 1;
                gap: 1.875rem;
            }
                .header__menuNav a{
                    color: white;
                    font-size: 1.375rem;
                    font-weight: 500;
                    text-transform: uppercase;
                
                    &:hover{
                        color: $color-principal;
                    }
                }
}