.tarjetas{
    @include grid(repeat(2, 1fr), none, none, none, 3.125rem);
    max-width: 75rem;
    margin: 0 auto;
    justify-items: center;
    margin-top: 1.25rem;
    font-family: $font-tarjetas;
}