.tarjetas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.125rem;
    max-width: 75rem;
    margin: 0 auto;
    justify-items: center;
    margin-top: 1.25rem;
    font-family: "Orbitron", sans-serif;
}