.formulario{
    background-image: url(https://soymotor.com/sites/default/files/imagenes/article/alex-alonso1.jpg);
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    @include flex(none, column, center, center, none);
    min-height: 100vh;
    text-align: center;
    position: relative;
}

.formulario__textoFormulario {
    h1{
        font-weight: 600;
        font-family: "Goldman", sans-serif;
        font-size: 3rem;
        text-shadow: 1px 1px 1px black;
    }
        p{
            font-family: "Goldman", sans-serif;
            font-size: 1.1rem;
            text-shadow: 1px 1px 1px black;
        }
}
