.pilotos{
    margin: .9375rem;
    
    .pilotos__textoInicio h1{
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 0;
    }
    .pilotos__textoInicio p{
        font-size: 1.2rem;
    }
}

