@media (max-width: 1024px){

    .calendario__tarjetas--grande{
    width: 28rem;
}

.calendarioGeneral__tarjetas{

    .calendario__tarjeta{
        width: 25rem;
    }

    .calendario__tarjeta--actual{
        width: 25rem;
    }
}

    .footer__container{
        .footer__logo img{
            height: 6rem;
        }
    }
}

@media (max-width: 768px){

    .calendario__anterior{
        display: none;
    }

    .calendarioGeneral__tarjetas{

    .calendario__tarjeta{
        width: 20rem;
    }

    .calendario__tarjeta--actual{
        width: 20rem;
    }
}

.calendario__info{
    h5{
        font-size: 1rem;
    }
}

}

@media (max-width: 425px){

.calendarioGeneral__tarjetas{
    @include flex (none, column, none, center, none);
}

.calendario__proximo{
    display: none;
}

.calendario__tarjetas--grande{
    width: 25rem;
}

.calendario__textoCalendario{
    text-align: center;
}

.calendarioGeneral__tarjetas{

    .calendario__tarjeta{
        width: 25rem;
    }

    .calendario__tarjeta--actual{
        width: 25rem;
    }
}
}