/* MEDIA QUERY PAGINA INDEX */
/* 1024 */
@media (max-width: 1024px){ 
    .banner__video{
        width: 64rem;
        object-fit: cover;
    }

    .banner__texto{
        text-align: center;
    }

    .noticias__grid-container{
        @include grid(2fr 1fr 1fr, repeat(2, 10rem), none, none, .9375rem);
    }

    .noticias__container h4{
        font-size: 1.1rem;
    }
}

/* 768 */
@media (max-width: 768px){
    .banner__video{
        width: 48rem;
        object-fit: cover;
    }

    .header--index{
        background-color: #0000008e
    }

    .banner{
        .banner__texto{
            h1{
            font-size: 2.6rem;
            text-align: center;
            }
            h2{
                font-size: 2.2rem;
            }
        }
}
    .noticias__container h4{
        font-size: 1rem;
    }
}

/* 425 */
@media (max-width: 425px){
    
    .header--index{
        background-color: #000000c9
    }

    .banner__video{
        width: 26.5625rem;
        object-fit: cover;
    }

    .noticias__grid-container{
        display: block;
    }

    .banner{
    .banner__texto{
        h1{
        font-size: 2.1rem;
        }
        h2{
            font-size: 2rem;
        }
    }
}

    .noticias__container article{
        margin-bottom: .9375rem;
    }

    .noticias__imagenPrincipal{
        height: 13rem;
    }
}

/* 320 */
@media (max-width: 320px){
    .banner__video{
        width: 20rem;
        object-fit: cover;
    }

    .banner{
    .banner__texto{
        h1{
        font-size: 1.8rem;
        }
        h2{
            font-size: 1.8rem;
        }
        }  
    }
}
