/* 1024 */
@media (max-width: 1024px){

}

/* 768 */
@media (max-width: 768px){

}

/* 425 */
@media (max-width: 425px){
    .clasificacion__icons{
        display: none;
    }
}

@media (max-width: 320px){
    th{
        font-size: 0.7rem;
    }


    th, td{
    padding: .3rem 0.4rem;
    text-align: left;
}
}