.tarjetas__tarjeta--info{
    position: relative;
    z-index: 1;

    h2{
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 0;
    }
}

.tarjetas__equipo{
    font-size: 1.125rem;
    color: #ddd;
    margin-bottom: 1rem;
}

.tarjetas__numero{
    font-size: 2.3rem;
    font-weight: bold;
}

.tarjetas__piloto{
    position: absolute;
    top: 0;
    right: 1.25rem;
    width: 45%;
    z-index: 2;
}

.tarjetas__bandera{
    position: absolute;
    bottom: .625rem;
    left: 1.25rem;
    width: 1.75rem;
    height: 1.25rem;
    border-radius: .3125rem;
    z-index: 3;
}