.banner{
    position: relative;
    width: 100%;
    height: 105vh;
    overflow: hidden;

    .banner__video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        filter:brightness(40%);
    }
        .banner__texto{
            @include flex(none, column, center, center, none);
            position: relative;
            height: 100%;
            font-size: 4rem;
        }
            .banner__texto h1{
                font-family: $font-carrera;
                font-weight: bold;
                color: $color-principal;
                text-shadow: 0 0 2.5rem $color-principal;
                font-size: 4rem;
            }
                .banner__texto h2{
                    font-family: $font-carrera;
                    font-weight: bold;
                    color: white;
                    font-size: 3rem;
                }
}
