.header--index{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    overflow: hidden;
        .header__navBar--index{
            @include flex(none, none, space-between, center, none);
            background: transparent;
            padding: .625rem .9375rem;
        }
        .header__navbarLogo--index{
            height: 3rem;
        }
            .header__navBar--index{
                @include flex(none, none, space-between, center, none);
                background: transparent;
                padding: .7rem .9rem;
            }
                .header__menuNav--index{
                    @include flex(none, none, center, none, none);
                    flex: 1;
                    gap: 1.875rem;
                }
                    .header__menuNav--index a{
                        color: white;
                        font-size: 1.375rem;
                        font-weight: 500;
                        text-transform: uppercase;
                        display: inline-block;
                        transition: transform 0.2s ease,color 0.2s ease;
                            &:hover{
                                transform: scale(1.1);
                                color: $color-principal;  
                            }
                    }
}
