.header--index {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    .header__navbarLogo--index{
        height: 2.6rem;
        }
    
    .navbar-index {
        background: transparent;
    }

    nav{
        ul{
            li{
                a{  
                    transition: transform 0.2s ease, color 0.2s ease;
                        &:hover{
                        transform: scale(1.1);
                        color: $color-principal;  
                        }
                    }
                }
            }
        }
    }
