/* 576 */

@media (max-width: 576px){
    .clasificacion__icons{
        display: none;
}

    th, td{
        padding: .3rem 0.3rem;
        text-align: left;
    }

    tbody{
        td{
            max-width: 5rem;
            font-size: 0.9rem;
            font-weight: 500;
        }
    }
}

@media (max-width: 576px){
    tbody{
        td{
            max-width: 3rem;
        }
    }
}


/* 375 */
@media (max-width: 375px){
    th, td{
    padding: 0.3rem 0.3rem;
    text-align: left;
}
}

@media (max-width: 320px){
    th{
        font-size: 0.7rem;
    }
    
    tbody{
        td{
            font-size: 0.95rem;
            max-width: 5rem;
        }
    }
}