// 1024
@media (max-width: 1024px){

    .calendario__tarjetas--grande{
    width: 28rem;
}

.calendarioGeneral__tarjetas{

    .calendario__tarjeta{
        width: 25rem;
    }

    .calendario__tarjeta--actual{
        width: 25rem;
    }
}
}
// 768
@media (max-width: 768px){

    .calendario__anterior{
        display: none;
    }

    .calendarioGeneral__tarjetas{

    .calendario__tarjeta{
        width: 20rem;
    }

    .calendario__tarjeta--actual{
        width: 20rem;
    }
}

.calendario__info{
    h5{
        font-size: 1rem;
    }
}

}
@media (max-width: 576px){
    .calendarioGeneral__tarjetas{
    @include flex (none, column, none, center, none);
}

.calendario__proximo{
    display: none;
}

.calendario__tarjetas--grande{
    width: 25rem;
}

.calendario{
        .calendario__textoCalendario {
                text-align: center;

                h1{
                    font-size: 1.7rem;
                }
                }
    }

.calendarioGeneral__tarjetas{

    .calendario__tarjeta{
        width: 25rem;
    }

    .calendario__tarjeta--actual{
        width: 25rem;
    }
}
}

// 375
@media (max-width: 375px){
    .calendario__tarjetas--grande{
    width: 20rem;
}

.calendarioGeneral__tarjetas{

    .calendario__tarjeta{
        width: 20rem;
    }

    .calendario__tarjeta--actual{
        width: 20rem;
    }
}
}

// 320
@media (max-width: 320px){

    .calendario__tarjetas--grande{
    width: 17rem;
    }

    .calendarioGeneral__tarjetas{

    .calendario__tarjeta{
        width: 17rem;
    }

    .calendario__tarjeta--actual{
        width: 17rem;
    }
}

.calendario__fecha{
    background: #1e2533;
    padding: .3rem .5rem;
    border-radius: .375rem;
    font-size: .8rem;
    white-space: nowrap;
}
}