@media (max-width: 320px){

    .formulario__textoFormulario {
        h1{
            font-size: 2rem;
        }
            p{
                font-size: .875rem;
            }
    }

    .formulario__contenedor{
        width: 85%;
    }
}
