/* 1024 */
@media (max-width: 1024px){ 

}
/* 768 */
@media (max-width: 768px){ 
    .tarjetas__tarjeta--header{
        img{
            height: 2.5rem;
        }
    }

    .tarjetas__pilotos--piloto{
        p{
            font-size: 0.75rem;
        }
    }
}

/* 425 */
@media (max-width: 425px){

    .equipos__textoInicio{
        text-align: center;
    }
}

/* 320 */
@media (max-width: 320px){ 
    .tarjetas__tarjeta--header{
        img{
            height: 2.2rem;
        }
        h2{
            font-size: 1.1rem;
            white-space: nowrap;
        }
}

    .tarjetas__pilotos--piloto{
        p{
            font-size: 0.7rem;
        }
    }
}
