/* 576 */

@media (max-width: 576px){
    .clasificacion__icons{
        display: none;
}
}


/* 375 */
@media (max-width: 375px){

    .clasificacion__icons{
        display: none;
    }

    th, td{
    padding: .3rem 0.3rem;
    text-align: left;
}
}

@media (max-width: 320px){
    th{
        font-size: 0.7rem;
    }
    
    tbody{
        td{
            font-size: 0.95rem;
        }
    }
}