/* 1024 */
@media (max-width: 1024px){
    .tarjetas{
        @include flex(wrap, none, center, none, 2rem);
    }
    .tarjetas__tarjeta--mclaren{
        width: 28rem;

    .tarjetas__piloto{
        width: 50%;
        top: 1rem;
    }
}
}

/* 768 */
@media (max-width: 768px){
    
    .tarjetas__tarjeta--mclaren{
    width: 21rem;
    height: 12rem;

    .tarjetas__piloto{
        left: 9.5rem;
        width: 53%;
    }
}

    .tarjetas__tarjeta--info{
        h2{
            font-size: 1.15rem;
        }
        .tarjetas__equipo{
            font-size: 1rem;
        }
    }
}

/* 576 */
@media (max-width: 576px){
    .pilotos__textoInicio{
        text-align: center;
    }
}

/* 320 */
@media (max-width: 320px){
.header{
        .header__menuNav{
            a{
                font-size: 1.2rem;
            }
        }
    }

    .tarjetas__tarjeta--mclaren{
        width: 18rem;
        height: 10rem;

        .tarjetas__piloto{
        left: 7rem;
        top: 0;
        width: 57%;
        }
    }

    .tarjetas__tarjeta--info{
        h2{
            max-width: 10%;
            font-size: 1.2rem;
        }
        .tarjetas__equipo{
            font-size: 0.9rem;
        }

        .tarjetas__numero{
        font-size: 1.6rem;
        position: absolute;
        top: 4.4rem;
        }
    }
    .tarjetas__bandera{
        height: 1rem;
        width: 1.5rem;
        object-fit: cover;
    }
}

