.calendario{
    @include flex(wrap, none, center, none, 1.25rem);
    gap: 1.25rem;
    padding: 1.25rem;
    background-color: #000;

    .calendario__textoCalendario{
        width: 100%;
        margin-bottom: 1rem;
        font-family: "Orbitron", sans-serif;
    }
        .calendario__textoCalendario h1{
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 0;
        }
            p{
                margin-bottom: 0;
            }
}

.calendarioGeneral{
    margin-bottom: .9375rem;
}